# The default branch at microsoft/winget-pkgs should have a policy which requires review from a codeowner

# The .github folder contains many Project Files - any change to a file in this folder must be approved by Microsoft directly
.github/* @denelon

# These files should be carefully reviewed by a Microsoft FTE before modification
LICENSE @denelon
SECURITY.md @denelon
CODE_OF_CONDUCT.md @denelon
