# The default branch at microsoft/winget-pkgs should have a policy that requires review from the codeowner(s)

# The .github folder contains many Project Files - any change to a file in this folder must be approved by Microsoft directly
# It would be possible to combine these all into one line, but they are called out separately for granularity
.github/actions/*  @microsoft/windows-package-manager-packages-admins @denelon
.github/ISSUE_TEMPLATE/* @microsoft/windows-package-manager-packages-admins @denelon
.github/CODEOWNERS @microsoft/windows-package-manager-packages-admins @denelon
.github/PULL_REQUEST_TEMPLATE.md @microsoft/windows-package-manager-packages-admins @denelon
.github/policies/* @microsoft/windows-package-manager-packages-admins @denelon
.github/workflows/* @microsoft/windows-package-manager-packages-admins @denelon

# These files should be carefully reviewed by a Microsoft FTE before modification
CODE_OF_CONDUCT.md @microsoft/windows-package-manager-packages-admins @denelon
LICENSE @microsoft/windows-package-manager-packages-admins @denelon
SECURITY.md @microsoft/windows-package-manager-packages-admins @denelon
schemas/* @microsoft/windows-package-manager-packages-admins @denelon

# These files should be reviewed by any Microsoft FTE, but may not require careful review

doc/* @microsoft/windows-package-manager-packages-admins @denelon
Tools/* @microsoft/windows-package-manager-packages-admins @denelon
.configurations/* @microsoft/windows-package-manager-packages-admins @denelon
.vscode/* @microsoft/windows-package-manager-packages-admins @denelon
.editorconfig @microsoft/windows-package-manager-packages-admins @denelon
.gitattributes @microsoft/windows-package-manager-packages-admins @denelon
.gitignore @microsoft/windows-package-manager-packages-admins @denelon
README.md @microsoft/windows-package-manager-packages-admins @denelon
CONTRIBUTING.md @microsoft/windows-package-manager-packages-admins @denelon
SUPPORT.md @microsoft/windows-package-manager-packages-admins @denelon
