# Ensure most files in the repo use CRLF line endings
.editorconfig text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.ps1 text eol=crlf
*.txt text eol=crlf
*.validation text eol=crlf

# Automatically normalize line endings for YAML files
*.yml text=auto
*.yaml text=auto

# Ensure files in the GitHub Actions spelling directory use LF line endings
.github/actions/spelling/** text eol=lf
