# Since we cannot negate a pattern in GitHub CODEOWNERS, we need to add every directory separately

# Request review from Microsoft team when azure pipelines definitions are modified
DevOpsPipelineDefinitions/ @microsoft/windows-package-manager-admins

# For issue templates and workflows, request review from @denelon and moderators
.github/ @denelon @jedieaston @ItzLevvie @OfficialEsco

# For files stored in Tools, doc/tools and .vscode directories, once any of the moderators approve, then @denelon merges the pull request
Tools/ @denelon @jedieaston @ItzLevvie @OfficialEsco
doc/tools/ @denelon @jedieaston @ItzLevvie @OfficialEsco
.vscode/ @denelon @jedieaston @ItzLevvie @OfficialEsco

# Nobody will be requested for review since for manifests are left empty
manifests/
